<a href="https://colab.research.google.com/github/siaSim/aice/blob/main/chapter02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

CHAPTER02

# **Section 01. 데이터 분석 라이브러리 활용하기**

# 넘파이 사용하기

In [ ]:
import numpy as np

a=np.array([1,2,3,4,5])
b=np.array(['대한민국', '포르투갈', '가나', '우루과이'])
c=np.array([1,2,'대한민국', '포르투갈'])

print(a)
print(b)
print(c)

[1 2 3 4 5]
['대한민국' '포르투갈' '가나' '우루과이']
['1' '2' '대한민국' '포르투갈']

# 판다스 사용하기

In [ ]:
import pandas as pd

s=pd.Series(['대한민국', '포르투갈', '가나', '우루과이'], index=['가', '나', '다', '라'], name="2022 카타르월드컵 H조")

print(s)

가    대한민국
나    포르투갈
다      가나
라    우루과이
Name: 2022 카타르월드컵 H조, dtype: object

# 데이터프레임 생성

In [ ]:
# 딕셔너리형으로 데이터프레임 생성

a1=pd.DataFrame({"a":[1,2,3], "b":[4,5,6], "c":[7,8,9]})
a1

   a  b  c
0  1  4  7
1  2  5  8
2  3  6  9

In [ ]:
# 리스트형으로 데이터프레임 생성

a2=pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]], ["a", "b","c"])
a2

   0  1  2
a  1  2  3
b  4  5  6
c  7  8  9

# **Section 02. 데이터 불러오기**

In [12]:
# 넘파이, 판다스 불러오기
import pandas as pd
import numpy as np

# read_csv 함수 사용하여 데이터 불러오기
flight=pd.read_csv('./Clean_Dataset.csv', encoding="cp949")
flight

,Unnamed: 0,airline,flight,source_city,departure_time,stops,arrival_time,destination_city,class,duration,days_left,price
0,0,SpiceJet,SG-8709,Delhi,Evening,zero,Night,Mumbai,Economy,2.17,1,5953
1,1,SpiceJet,SG-8157,Delhi,Early_Morning,zero,Morning,Mumbai,Economy,2.33,1,5953
2,2,AirAsia,I5-764,Delhi,Early_Morning,zero,Early_Morning,Mumbai,Economy,2.17,1,5956
3,3,Vistara,UK-995,Delhi,Morning,zero,Afternoon,Mumbai,Economy,2.25,1,5955
4,4,Vistara,UK-963,Delhi,Morning,zero,Morning,Mumbai,Economy,2.33,1,5955
...,...,...,...,...,...,...,...,...,...,...,...,...
300148,300148,Vistara,UK-822,Chennai,Morning,one,Evening,Hyderabad,Business,10.08,49,69265
300149,300149,Vistara,UK-826,Chennai,Afternoon,one,Night,Hyderabad,Business,10.42,49,77105
300150,300150,Vistara,UK-832,Chennai,Early_Morning,one,Night,Hyderabad,Business,13.83,49,79099
300151,300151,Vistara,UK-828,Chennai,Early_Morning,one,Evening,Hyderabad,Business,10.00,49,81585
300152,300152,Vistara,UK-822,Chennai,Morning,one,Evening,Hyderabad,Business,10.08,49,81585

# **Section 03. 데이터 저장하기**

In [5]:
#a2 데이터프레임 만들기

a2=pd.DataFrame([[1,2,3], [4,5,6], [7,8,9]],['a','b','c'])
a2

   0  1  2
a  1  2  3
b  4  5  6
c  7  8  9

In [7]:
#to_csv 함수 활용하여 저장하기
a2.to_csv('./result_a2.csv')

In [9]:
# result_a2.csv를 불러오기
result=pd.read_csv('./result_a2.csv', encoding='cp949')
result

  Unnamed: 0  0  1  2
0          a  1  2  3
1          b  4  5  6
2          c  7  8  9

In [13]:
# read_csv 함수의 파라미터를 활용하여 원하는 칼럼만 가지고 데이터프레임 만들기
flight2=pd.read_csv('./Clean_Dataset.csv', index_col='stops', usecols=['stops', 'departure_time', 'arrival_time','destination_city'])
flight2

      departure_time   arrival_time destination_city
stops
zero         Evening          Night           Mumbai
zero   Early_Morning        Morning           Mumbai
zero   Early_Morning  Early_Morning           Mumbai
zero         Morning      Afternoon           Mumbai
zero         Morning        Morning           Mumbai
...              ...            ...              ...
one          Morning        Evening        Hyderabad
one        Afternoon          Night        Hyderabad
one    Early_Morning          Night        Hyderabad
one    Early_Morning        Evening        Hyderabad
one          Morning        Evening        Hyderabad

[300153 rows x 3 columns]

In [14]:
#crosstab 확인하기

pd.crosstab(index=flight.source_city, columns=flight.arrival_time)

arrival_time  Afternoon  Early_Morning  Evening  Late_Night  Morning  Night
source_city
Bangalore          6992           3154    14493        2673    10411  14338
Chennai            5152           1606    10830        1999     7106  12007
Delhi              8007           5262    14630        2143    13007  18294
Hyderabad          4816           1581    10539        2092     8854  12924
Kolkata            5941           2156    11304        2414     9595  14937
Mumbai             7231           1658    16527        2680    13762  19038