<a href="https://colab.research.google.com/github/siaSim/aice/blob/main/section1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 넘파이 사용하기

In [ ]:
import numpy as np

a=np.array([1,2,3,4,5])
b=np.array(['대한민국', '포르투갈', '가나', '우루과이'])
c=np.array([1,2,'대한민국', '포르투갈'])

print(a)
print(b)
print(c)

[1 2 3 4 5]
['대한민국' '포르투갈' '가나' '우루과이']
['1' '2' '대한민국' '포르투갈']

# 판다스 사용하기

In [ ]:
import pandas as pd

s=pd.Series(['대한민국', '포르투갈', '가나', '우루과이'], index=['가', '나', '다', '라'], name="2022 카타르월드컵 H조")

print(s)

가    대한민국
나    포르투갈
다      가나
라    우루과이
Name: 2022 카타르월드컵 H조, dtype: object

# 데이터프레임 생성

In [ ]:
# 딕셔너리형으로 데이터프레임 생성

a1=pd.DataFrame({"a":[1,2,3], "b":[4,5,6], "c":[7,8,9]})
a1

   a  b  c
0  1  4  7
1  2  5  8
2  3  6  9

In [ ]:
# 리스트형으로 데이터프레임 생성

a2=pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]], ["a", "b","c"])
a2

   0  1  2
a  1  2  3
b  4  5  6
c  7  8  9